.nav-wrapper {
font-weight: 300;
margin-bottom: 0;	
}

.thin-text {
    font-weight: 300;
}

.page-footer {
    background-color: black;
    text-emphasis-color: white;
}

input[type="text"] {
    color:white;
}