.nav-wrapper {
font-weight: 300;
margin-bottom: 0;	
}

.thin-text {
    font-weight: 800;
    font-family: serif;
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0.5;
}

.page-footer {
    background-color: black;
    text-emphasis-color: white;
}

input[type="text"] {
    color:white;
}

.media ul{
    list-style-type: none;
}

.media li{
    display: inline;
    
}

